<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header::header}"></head>

<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/settings">Настроки </a></li>
        <li class="breadcrumb-item"><a href="/portfolio">Портфолио </a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
    </ol>
</nav>

<div class="container base">
    <div class="row">
        <form class="col s12" th:action="@{/portfolio/edit/{id}(id=${portfolio.id})}" th:object="${portfolio}" th:method="POST">
            <div class="row">
                <div class="form-group">
                    <label for="name">Название: </label>
                    <input name="name" type="text" id="name" class="form-control" th:field="*{name}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="description">Описание: </label>
                    <input name="description" type="text" id="description" class="form-control" th:field="*{description}">
                </div>
            </div>

            <div class="row">
                <div>
                    <input type="submit" value="Сохранить" class="btn btn-success">
                    <a th:href="@{/portfolio}" th:utext="Назад" class="btn btn-link"></a>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>